<app-header [drawer]="drawer"></app-header>

<div
  class="dashboard"
  [ngStyle]="{
    'max-width': drawer._opened ? 'calc(100vw - 280px)' : '100vw'
  }"
  style="width: 100%; padding: 32px"
>
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div>
      <h1 class="dashboard-title">Welcome Back, John Doe!</h1>
      <p
        style="
          background-color: #f0f0f0;
          border-radius: 60px;
          padding: 2px 8px;
          font-size: 14px;
        "
      >
        Jan 01, 2023 - Dec 31, 2023
      </p>
    </div>
    <div class="dashboard-top-right">
      <button class="dashboard-top-right-btn">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <div class="dashboard-active-integration">
    <p class="dashboard-active-integration--title" style="padding: 0px">
      Active Integrations:
    </p>
    <button class="dashboard-active-integration--btn">JIRA</button
    ><button class="dashboard-active-integration--btn">Click Up</button
    ><button class="dashboard-active-integration--btn">AZURE</button>
  </div>

  <div
    style="
      margin-top: 24px;
      padding: 20px;
      border-radius: 16px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
    "
  >
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
      "
    >
      <p class="dashboard-charts-title" style="padding: 0px; margin: 0px">
        Overall Hours
      </p>
      <img src="assets/icons/Drag.png" alt="icon" />
    </div>
    <div
      class="flex-column flex-lg-row"
      style="display: flex; align-items: center; gap: 5px"
    >
      <div class="col-12 col-lg-4" style="border-radius: 10px; padding: 10px">
        <app-donut-char-dashboard></app-donut-char-dashboard>
      </div>
      <div class="col-12 col-lg-8" style="border-radius: 10px">
        <app-double-bar-chart></app-double-bar-chart>
      </div>
    </div>
  </div>

  <div
    class="timesheet-summary"
    style="
      margin-top: 24px;
      background-color: #fff;
      padding: 20px;
      border-radius: 16px;
    "
  >
    <div class="summary-header">
      <h2 class="title">Timesheet Summary</h2>
      <button class="menu-btn">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <div class="cards-grid">
      <app-dashboard-cards
        *ngFor="let card of cards"
        [cards]="card"
        class="card-wrapper"
      ></app-dashboard-cards>
    </div>
  </div>

  <div
    style="
      margin-top: 24px;
      background-color: #fff;
      padding: 20px;
      border-radius: 16px;
    "
  >
    <div>
      <div
        style="
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 16px;
        "
      >
        <p class="dashboard-charts-title" style="padding: 0px; margin: 0px">
          Project Hours
        </p>
        <img src="assets/icons/Drag.png" alt="icon" />
      </div>
    </div>
    <div style="position: relative; max-width: 100%; width: 100%">
      <app-hours-bar-chart></app-hours-bar-chart>
    </div>
  </div>

  <div
    style="
      margin-top: 24px;
      background-color: #fff;
      padding: 20px;
      border-radius: 16px;
    "
  >
    <div>
      <div class="d-flex justify-content-between mb-3">
        <p class="dashboard-charts-title mb-0">SR & ED Summary</p>
        <img src="assets/icons/Drag.png" alt="icon" />
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <!-- Search bar -->
        <div
          class="header-search-bar mb-0 col-12 col-lg-4 d-flex flex-column flex-lg-row mb-lg-0"
          style="margin-left: 0px !important"
        >
          <mat-form-field class="example-full-width">
            <mat-label style="color: #000">Search</mat-label>
            <input style="color: #000" type="text" matInput />
            <mat-icon style="color: #000" matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <!-- Buttons (Filter & Export) -->
        <div
          class="d-flex gap-3 justify-content-start justify-lg-center flex-lg-row align-items-start align-items-lg-center col-12 col-lg-auto"
        >
          <button
            class="btn btn-outline-secondary mb-2 mb-lg-0 mr-lg-2 d-flex align-items-center"
            style="
              font-size: 12px;
              border-radius: 8px;
              width: 80px;
              height: 40px;
              font-weight: 600;
            "
          >
            Filter
            <mat-icon style="margin-left: 6px">filter_list</mat-icon>
          </button>
          <button
            class="btn btn-outline-secondary mb-2 mb-lg-0 d-flex align-items-center"
            style="
              font-size: 12px;
              border-radius: 8px;
              width: 80px;
              height: 40px;
              font-weight: 600;
            "
          >
            Export
            <mat-icon style="margin-left: 6px">vertical_align_bottom</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <app-dashboard-table-visible></app-dashboard-table-visible>
      </div>
    </div>
  </div>

  <div
    class="container mt-4"
    style="background-color: #fff; padding: 20px; border-radius: 16px"
  >
    <div>
      <div class="d-flex justify-content-between mb-3">
        <p class="dashboard-charts-title mb-0">SR & ED Summary</p>
        <img src="assets/icons/Drag.png" alt="icon" />
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <!-- Search bar -->
        <div
          class="header-search-bar mb-0 col-12 col-lg-4 d-flex flex-column flex-lg-row mb-lg-0"
          style="margin-left: 0px !important"
        >
          <mat-form-field class="example-full-width">
            <mat-label style="color: #000">Search</mat-label>
            <input style="color: #000" type="text" matInput />
            <mat-icon style="color: #000" matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <!-- Buttons (Filter & Export) -->
        <div
          class="d-flex gap-3 justify-content-start justify-lg-center flex-lg-row align-items-start align-items-lg-center col-12 col-lg-auto"
        >
          <button
            class="btn btn-outline-secondary mb-2 mb-lg-0 mr-lg-2 d-flex align-items-center"
            style="
              font-size: 12px;
              border-radius: 8px;
              width: 80px;
              height: 40px;
              font-weight: 600;
            "
          >
            Filter
            <mat-icon style="margin-left: 6px">filter_list</mat-icon>
          </button>
          <button
            class="btn btn-outline-secondary mb-2 mb-lg-0 d-flex align-items-center"
            style="
              font-size: 12px;
              border-radius: 8px;
              width: 80px;
              height: 40px;
              font-weight: 600;
            "
          >
            Export
            <mat-icon style="margin-left: 6px">vertical_align_bottom</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <app-dashboard-table></app-dashboard-table>
      </div>
    </div>
  </div>
</div>
