// dashboard-cards.component.scss
.dashboard-cards-container {
    padding: 1rem;
    width: 100%;
    
    .cards-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    
    .dashboard-card {
      background: white;
      border-radius: 0.75rem;
      padding: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        
        .card-title {
          color: #4B5563;
          font-size: 0.875rem;
          font-weight: 500;
          margin: 0;
        }
        
        .remind-button {
          color: #2563EB;
          font-size: 0.875rem;
          font-weight: 500;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          
          &:hover {
            color: #1D4ED8;
          }
        }
      }
      
      .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .card-value {
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0;
        }
        
        .percentage-badge {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          padding: 0.25rem 0.5rem;
          border-radius: 0.375rem;
          font-size: 0.875rem;
          font-weight: 500;
          
          &.increase {
            background-color: rgb(233, 248, 238);
            color: #53af57;
            
            mat-icon {
              color: #53af57;
            }
          }
          
          &.decrease {
            background-color: rgb(248, 233, 233);
            color: #B14040;
            
            mat-icon {
              color: #B14040;
            }
          }
          
          mat-icon {
            font-size: 1rem;
            height: 1rem;
            width: 1rem;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }