<div class="stat-card" style="border: 1px solid #e3e3e3">
  <div class="card-header">
    <div class="title-container">
      <ng-container
        *ngIf="
          cards.dashboardCardTitle === 'Missing Timesheets';
          else normalTitle
        "
      >
        <div class="split-title">
          <span>Missing</span>
          <span>Timesheets</span>
        </div>
      </ng-container>
      <ng-template #normalTitle>
        <span class="card-title">{{ cards.dashboardCardTitle }}</span>
      </ng-template>
    </div>
    <button *ngIf="cards.dashboardCardButtonToggle" class="remind-button">
      <span>Remind All</span>
    </button>
  </div>

  <div class="card-stats">
    <span class="number">{{ cards.dashboardCardLimit }}</span>
    <div
      class="trend-badge"
      [class.trend-up]="cards.dashboardCardDiscountBackgroundColor"
      [class.trend-down]="!cards.dashboardCardDiscountBackgroundColor"
    >
      <mat-icon>{{ cards.dashboardCardDiscountIcon }}</mat-icon>
      <span>{{ cards.dashboardCardDiscountPercent }}%</span>
    </div>
  </div>
</div>
